.container-head{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height: auto;
    flex-wrap: wrap;
    /* background-image: linear-gradient(225deg, #525153  0%, #ffffff 100%); */
    background-color: #f2f7e8;
    margin-left: 10px;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 59%);
    position: relative;
    min-height: 1px;
    padding-right: 15px;  
    padding-left: 45px;  
    /* margin-right: -15px;
    margin-left: -15px; */
}
.imagen-head{
    border: 1px solid green;
    /* height: auto;
    width: auto; */
    max-width: 66.666667%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}
.container-textHead{
    border: 1px solid blueviolet;
    text-align: start;
    font-family: Lato, sans-serif;
    font-weight: 200;
    line-height: 0.8em;
    height: 200px;
    width: 150px;
    line-height: 12px;
    font-size: .8em;
    font-weight: bold;
}
.name-head{
    /* border: 1px solid blue; */
    font-size: 0.8em;
    color: #666;
    line-height: 1.2em;
}
.awards-head{
    /* border: 1px solid blue; */
    font-size: 0.8em;
    font-weight: bolder;
    line-height: 10px;
    text-transform: uppercase;
    font-size: .8rem;
    color: #666;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-head{
    text-align: justify;
    /* border: 1px solid green; */
    font-size: 0.8em;
    color: #666;
    line-height: 1.2em;
    padding: 5px;
}