.container-navbar{
    border: 1px solid yellowgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    width:100%;
    height: auto;
    background-color: #f2f7e8;
    margin-left: 10px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;  
    padding-left: 25px;  
    padding-top: 30px;
    padding-bottom: 40px;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    width:100%;
}
.logo{
    width: 250px;
    height: 38px;
    max-width: none;
    vertical-align: middle;
    border-style: none;
    border: 0;
}
.buttons{
    border: 1px solid magenta;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    
    padding-right: 20px;
}
.phone{
    color: #333;
    margin: 0 0 0 30px;
    padding: 0;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    text-decoration: none;
}
.phone>b{
    font-weight: bolder;
    color: #333;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
.free-quote{
    background: #f95d25;
    font-size: 1.4rem;
    color: #fff;
    padding: 1px 10px;
    border: none;
    margin: 0 0 0 30px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.free-quote>span{
padding: 6px 20px;
}
.menu-toggle{
    cursor: pointer;
    right: 0;
    position: initial;
    display: inline-block;
    margin: 0 0 0 30px;
}
.menu{
    height: 35px;
}
